Supabase Project pass  #SettingUpSu.txt
Extras/
Tests/
icms-student-portal/src/app/sandbox/page.tsx
Reference/
database_updates.sql
supabase_schema.sql
Testing/
/node_modules

admin-portal/src/app/testing.js
